<form class="cart" action="/cart" method="post" novalidate>
  <table>
    {% include 'cart-header' %}

    <tbody>
      {% for item in cart.items %}
        {% include 'cart-item' %}
      {% endfor %}
    </tbody>
  </table>

	<div>
	  <span>{{ 'cart.general.subtotal' | t }}:</span>
	  <span class="cart__subtotal">{{ cart.total_price | money }}</span>
	</div>

  <div>
    <button type="submit" name="update">{{ 'cart.general.update' | t }}</button>
    <button type="submit" name="checkout">{{ 'cart.general.checkout' | t }}</button>
  </div>
</form>
